@page
@using Microsoft.AspNetCore.Mvc.Razor
@using System.Text.Encodings
@using System.Text
@using System
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.ViewComponents

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WolfDog - 资源导航网</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!-- 页面内容 -->
    
    <!-- Google Analytics 脚本 (注释掉) -->
    <!-- 
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111463289-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-111463289-1');
    </script> 
    -->
    
    <div>
        <meta name="author" content="viggo" />
        <meta name="keywords" content="资源导航, 免费资源, 网盘搜索, 软件资源, 网站资源, 网络工具, 免费软件下载, 网络资源大全, 优质资源分享, 在线资源导航, 实用资源, 免费工具, 资源搜索, resource.wolfdog.top">
        <meta name="description" content="WolfDog - 资源导航网 - 收集并分享各类免费网络资源，包括网盘搜索工具、软件下载、网站资源和各种实用网络工具，定期更新优质资源，助力您的高效探索与使用。">
        <title>WolfDog - 资源导航网</title>
    </div>

    <div>
        <meta name="og:type" content="website">
        <meta property="og:url" content="https://resource.wolfdog.top/">
        <meta property="og:title" content="WolfDog - 资源导航网">
        <meta property="og:description" content="收集并分享各类免费网络资源，包括网盘搜索工具、软件下载、网站资源和各种实用网络工具，定期更新优质资源，助力您的高效探索与使用。">
        <meta property="og:image" content="https://resource.wolfdog.top/assets/images/og-image.png">
        <meta property="og:site_name" content="WolfDog - 资源导航网">
    </div>

    <div>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="WolfDog - 资源导航网">
        <meta name="twitter:description" content="收集并分享各类免费网络资源，包括网盘搜索工具、软件下载、网站资源和各种实用网络工具，定期更新优质资源，助力您的高效探索与使用。">
        <meta name="twitter:image" content="https://resource.wolfdog.top/assets/images/og-image.png">
    </div>

    <div>
    <script>
        window.location.href = "@Url.Action("HomePage", "Home")";
        /*document.location.href = "cn/index.html";
        if (navigator.appName == "Netscape") {
            var language = navigator.language;
        } else {
            var language = navigator.browserLanguage;
        }

        if (language.indexOf("en") > -1) {
            document.location.href = "en/index.html";
        } else if (language.indexOf("zh") > -1) {
            document.location.href = "cn/index.html";
        } else {
            document.location.href = "en/index.html";
        }*/
    </script>
    </div>

    <!-- 百度统计脚本 -->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?8cec62d16f0b45002a65c40f6465fe75";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <!-- 页面内容 -->
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>欢迎来到 WolfDog - 您的终极资源中心</h1>
                <p>发现并分享各种免费在线资源，包括云存储工具、软件下载、网站资源和实用网络工具。定期更新高质量资源，帮助您高效地探索和利用这些资源。</p>
            </div>
        </div>
    </div>

    <!-- 广告脚本 -->
    <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8550836177608334",
            enable_page_level_ads: true
        });
    </script> -->
</body>
</html>
